{% extends 'base.html' %}
{% load thumbnail %}


{% block content %}
  <h1>Candidate: {{ applicant.last_name }}, {{ applicant.first_name }}</h1>
  {% thumbnail applicant.image "100x100" crop="center" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
  {% endthumbnail %}  

  <p>{{ applicant.birth_date }}</p>

  <div style="margin-left: 20px; margin-top: 20px">
    <h4>Detail information:</h4>

    {% for copy in applicant.summarymain_set.all %}
    <hr />
    <p><a href="{% url 'applicant-detail' % }}">{{ copy.title }}</a></p>
    <p>{{ copy.salary }} ({{ copy.get_currency_display }})</p>
    {% endfor %}
  </div>
{% endblock content %}
